<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="../static/image/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        lightgray: '#f7f7f7',
                        darkgray: '#e5e5e5',
                        hoverblue: '#e0f2fe',
                    }
                }
            }
        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
        .sidebar-button:hover {
            background-color: var(--tw-color-hoverblue);
        }
        .sidebar-button.active {
            background-color: var(--tw-color-darkgray);
        }
        .hover-bg-change:hover {
            background-color: #e2e8f0; /* light gray */
        }
        .hover-text-blue:hover {
            color: #60a5fa; /* light blue */
        }
    </style>
</head>
<body class="bg-[#FFE08C]">
    {% include 'lib/header.html' %}

    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 flex">
        <!-- 사이드 박스를 메인 박스 높이에 맞게 동적으로 바뀌게 만들기 -->
        {% include 'lib/mymenu.html' %}
        <main class="w-3/4 h-3/4 bg-white p-5 shadow-md rounded-lg">
            <h1 class="text-2xl font-bold mb-6">Cart</h1>
                <div class="bg-white p-4 rounded shadow-md">
                    {% if data %}
                    {% for row in data %}
                    <div class="flex items-center justify-between mb-4">
                        <div class="flex items-center">
                            <form action="/delete_cart" method="POST">
                            <button class="ml-4 p-2  hover:bg-red-400 hover:text-white"> X </button>
                            <input type="hidden" name="id" value="{{ row[0] }}">
                            <input type="hidden" name="quantity" value="{{ row[3] }}">
                            </form>
                            <img src="../static/alcohol_image/{{row[4]}}" alt="Product Image" class="ml-4" onerror="this.src='../static/image/main_img.png';" style="width:100px; height: 100px;">
                            <div class="ml-4">
                                <p class="font-bold">{{row[1]}}</p>
                                <p class="text-gray-500">{{row[2]}}원</p>
                            </div>
                        </div>
                        
                        <div class="flex items-center">
                            <p class="text-lg">{{row[3]}}</p>
                            <p class="text-lg ml-4">{{row[2]|int * row[3]|int}}원</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}


                    <div class="mt-6 pt-4 border-t">
                        <div class="flex justify-between items-center">
                            <p class="text-lg font-bold">주문 금액</p>
                            <p class="text-lg font-bold">{{ price }}원</p>
                        </div>
                        <a href="{{url_for('order.order')}}">
                        <button class="w-full mt-4 bg-gray-300 text-gray-700 py-2 rounded hover:bg-gray-400">주문하기</button></a>
                    </div>
                </div>
        </main>
    </div>

    <script>
        // Optional: Any additional JavaScript can be added here.
    </script>
</body>
</html>