<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alcohol Catalog</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Open Sans', sans-serif;
        }
        .card {
            transition: transform 0.2s;
        }
        .card:hover {
            transform: translateY(-5px);
        }
    </style>
</head>
<body class="bg-[#FFE08C]">
    {% include 'lib/header.html' %}

    <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8 flex">
        <!-- 메뉴 박스 크게 하기 -->
        {% include 'lib/alcoholmenu.html' %}
        <main class="w-3/4">
            <div class="bg-white shadow-md rounded-lg p-4 mb-6">
                <!-- Search and filters -->
                <form id="searchForm" action="{{ url_for('main.search_condition') }}" method="GET">
                    <div class="flex flex-col items-center mb-5">
                        <div class="flex items-center space-x-3">
                            <input type="hidden" name="beertype" value="{{ status }}">
                            <input type="hidden" name="type" value="search">
                            <input type="text" name="beername" placeholder="Search alcohol name" class="border p-2">
                            <input type="text" name="minprice" placeholder="Min price" class="border p-2">
                            <input type="text" name="maxprice" placeholder="Max price" class="border p-2">
                        
                        </div>
                        <div class="flex items-center space-x-3 mt-3">
                            <input type="text" name="degree" placeholder="Degree" class="border p-2">


                            <select name='starRating' class="border p-2">
                                <option value="1">⭐</option>
                                <option value="2">⭐⭐</option>
                                <option value="3">⭐⭐⭐</option>
                                <option value="4">⭐⭐⭐⭐</option>
                                <option value="5">⭐⭐⭐⭐⭐</option>
                            </select>
                            <button class="px-2 py-2 bg-gray-200 rounded">🔍</button>
                        </div>
                    </div>
                </form>
                <div class="grid grid-cols-3 gap-4">
                    {% if data %}
                    {% for row in data %}
                        <a href="{{ url_for('main.detail', alcohol_id=row[5]) }}">

                        <div class="card bg-gray-200 rounded-lg p-4 text-center">
                            <div style="text-align: center; background-color: white; padding: 10px;">
                                <div style="text-align:center">
                                    <img src="../static/alcohol_image/{{ row[6] }}" alt="Alcohol" class="rounded-md mb-2"  style="width: auto; height: 250px;display: inline-block;" onerror="this.src='../static/image/main_img.png';">
                                </div>
                            </div>
                            
                            <div class="text-sm">{{row[3]}} {{row[2
                                ]}}%</div>
                            <div class="font-semibold">{{row[0]}}</div>
                            <div class="text-sm">₩ {{row[1]}}</div>
                            <div class="text-yellow-400 text-lg" style="display: inline-block;">{% for _ in range(row[4]|int) %} ★ {% endfor %}</div>
                            <div class="text-sm" style="display: inline-block;">({{ row[4] }}/5)</div>
                        </div>
                    {% endfor %}
                    {% else %}  
                    <p>No data available</p>
                    {% endif %}

                </div>
            </div>

        </main>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // 모든 네비게이션 링크에 대한 이벤트 리스너 등록
            var navLinks = document.querySelectorAll(".nav-link");
            navLinks.forEach(function (link) {
                link.addEventListener("click", function (event) {
                    event.preventDefault();
                    var query = link.getAttribute("data-query");
                    window.location.href = `{{ url_for('main.main') }}?type=${query}`;
                });
            });
        });
    </script>
</body>
</html>