<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .btn-hover:hover {
            background-color: #f36c6c;
        }
        .transf{
            opacity: 0;
            transform: translateY(20px);
            transition: opacity 0.3s ease, transform 0.5s ease;
          }
          .transf.show{
            opacity: 1;
            transform: translateY(0);
          }
    </style>
</head>
<body class="bg-[#FFE08C] flex items-center justify-center h-screen">
    <div class="transf bg-white p-7 rounded-lg shadow-lg w-180">
        <div class="flex flex-col items-center mb-4">
            <div class="w-16 h-16 bg-gray-300 rounded-full mb-4">
                <img class="logo w-full h-full" src="../static/image/main_img.png" alt="logo">
            </div> <!-- Placeholder for logo image -->
        </div>
        <form class="needs-validation" action="{{ url_for('auth.signup_process_form') }}" method="POST" novalidate>
            <form class="flex flex-col items-center">
                <input type="text" name="id" placeholder="ID" class="mb-2 p-2 w-full border rounded text-box" required/>
                <input type="text" name="name" placeholder="Name" class="mb-2 p-2 w-full border rounded text-box" required/>
                <input type="password" name="password" placeholder="Password" class="mb-2 p-2 w-full border rounded text-box" required/>
                <input type="tel" name="phonenum" placeholder="Phone Number(010-xxxx-yyyy)" class="mb-2 p-2 w-full border rounded text-box" required/>
                <input type="text" name="birth" placeholder="Birth(2000-01-01)" class="mb-2 p-2 w-full border rounded text-box" required/>
                <input type="text" name="address" placeholder="Address" class="mb-2 p-2 w-full border rounded text-box" required/>
                
            </form>
            <button type="submit" class="mt-4 bg-[#f29354] text-white py-2 px-4 rounded btn-hover">
                Continue to Sign up
            </button>
        </form>
    </div>
    <script>
        setTimeout(function() {
            document.querySelector('.transf').classList.add('show');
          }, 500);
    </script>
</body>
</html>

